.footer-wrap{
    width: 100%;
    font-size: 12px;
    background: rgba(147, 136, 149, 0.4);
}
.footer{
    width: 1220px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
