.header-wrap{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.header{
    width: 970px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.header-logo{
    float: left;
    width: 150px;
    height: 40px;
}
.header-user{
    float: right;
}
