.index-wrap{
    position: relative;
    width: 100%;
}
.index{
    position: absolute;
    padding-top: 100px;
    left: 50%;
    margin-left: -485px;
    width: 1200px;
    min-height: 700px;
}
.index-list{
    float: left;
    width: 290px;
    height: 150px;
    margin-right: 50px;
    margin-bottom: 40px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}
.apply-wrap{
    width: 100%;
}
.apply{
    width: 970px;
    margin: 0 auto;
    padding: 40px 0;
}

.searchInput-wrap{
    text-align: center;
    margin-bottom: 40px;
}
.searchInput{
    display: inline-block;
}
.search-input{
    height: 35px;
    width: 400px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid rgb(70, 208, 230);
    box-sizing: border-box;
}
.search-btn{
    height: 35px;
    border-radius: 6px;
    border: 1px solid rgb(70, 208, 230);
    box-sizing: border-box;
    background: #fff;
    width: 40px;
    margin-left: -40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*新闻*/
.imformation-detail{
    width: 970px;
    margin: 0 auto;
    padding: 40px 40px;
    box-sizing: border-box;
}
.imformation-detail span{
    margin-right: 40px;
}
.imformation-detail div{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.imformation-detail h2{
    margin-bottom: 20px;
    font-size: 25px;
    color: #333;
}
.imformation-detail img{
    display: block;
    width: 500px;
    margin: 30px auto;
}
.imformation-detail p{
    text-indent: 2em;
    margin-top: 10px;
    line-height: 20px;
    color: #333;
}
